config/.config/fish/fish_variables
/config/.config/netlify/
/config/.config/configstore/update-notifier-netlify-cli.json
/plugins-tmp
/config/.config/fisher/

config/.config/fish/config.local.fish
config/.config/fish/functions.local
config/.config/nnn/bookmarks/
config/.config/nnn/.lastd
config/.config/neofetch
config/.config/gh/hosts.yml
config/.config/raycast/
