[submodule ".password-store"]
	path = .password-store
	url = git@gitlab.com:will-clarke/pass.git
[submodule "org"]
	path = org
	url = git@gitlab.com:will-clarke/org.git
[submodule "/Users/wmmc/.emacs.d"]
	path = /Users/wmmc/.emacs.d
	url = https://github.com/hlissner/doom-emacs.git
[submodule ".doom.d"]
	path = .doom.d
	url = git@gitlab.com:will-clarke/doom.d.git
